body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

#game {
    margin-top: 20px;
}

#options button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

#options button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}
