body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    transition: background-color 0.5s ease; /* Transição suave entre cores */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

#game {
    margin-top: 20px;
}

#options button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

#options button:hover {
    background-color: #2e9212fe;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

#image-container {
    display: flex;
    justify-content: center;
    gap: 5px; /* Aproxima as imagens */
}

#image-container img {
    border-radius: 10px;
}



